.hero{
  display: flex;
  margin-block: 70px;
  margin-inline: 20px;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 100%;
}
button{
  padding: 5px 20px 5px 20px;
  background: #BE123C;
  margin-block-start: 20px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}