.nav{
  display: flex;
  justify-content: space-between;
  background: white;
  align-items: center;
  padding-inline: 20px;
  position: sticky;
  top: 0;
  padding-block: 10px;
  box-shadow: 0 1px 5px #00000032;
  margin: none;
  width: 100vw;
}
.logo{
  display: flex;
  gap: 7px;
  align-items: center;
}